# EXERCÍCIO - 01 
Defina uma lista de 4 preços inteiros. Calcular o imposto (3%) de cada uma delas. Dar como resultado uma lista de impostos.

**RESOLUÇÃO - V1**

In [6]:
# define preços
precos = [100, 500, 10, 25]
impostos = []  # para armazenar impostos
# itera cada preço
for preco in precos:
    # calcula imposto
    impostos.append((lambda x: x * .3)(preco))
# visualiza lista de impostos
impostos

[30.0, 150.0, 3.0, 7.5]

**RESOLUÇÃO - V2**

In [1]:
# define preços
precos = [100, 500, 10, 25]
# itera, calcula e armazena os impostos
impostos = list(map(lambda x: x * .3, precos))
# visualiza lista de impostos
impostos

[30.0, 150.0, 3.0, 7.5]

Referência:
https://www.youtube.com/watch?v=xmMXULd0dxc

# EXERCÍCIO - 02 
Têm-se a seguinte lista de nomes de produtos e seus preços unitários:

In [3]:
produtoPreco = [
    ['P1', 13],
    ['P2', 6],
    ['P3', 7],
    ['P4', 50],
    ['P5', 8]
]
produtoPreco

[['P1', 13], ['P2', 6], ['P3', 7], ['P4', 50], ['P5', 8]]

(1) Ordenar a lista de forma descendente pelo preço.
(2) Ordenar a lista de forma ascendente pelo preço.
(3) Ordenar a lista de forma ascendente pelo nome.

**RESOLUÇÃO**

(1)

In [4]:
sorted(produtoPreco, key=lambda i: i[1], reverse=True)  # não modifica produtoPreco

[['P4', 50], ['P1', 13], ['P5', 8], ['P3', 7], ['P2', 6]]

(2)

In [5]:
produtoPreco.sort(key=lambda x: x[1])  # modifica produtoPreco
produtoPreco

[['P2', 6], ['P3', 7], ['P5', 8], ['P1', 13], ['P4', 50]]

(3)

In [6]:
sorted(produtoPreco, key=lambda i: i[0], reverse=True)

[['P5', 8], ['P4', 50], ['P3', 7], ['P2', 6], ['P1', 13]]

Referência:
https://www.youtube.com/watch?v=EQRsJ2bKvUU

# EXERCÍCIO - 03
Têm-se a seguinte lista de preços de produtos:

In [7]:
lista = [10, 20, 30, 40, 50]
lista

[10, 20, 30, 40, 50]

Retornar uma lista de produtos cujos preços são superiores a 30.

**RESOLUÇÃO**

In [9]:
list(filter(lambda p: p > 30, lista))

[40, 50]

# EXERCÍCIO - 04
Temos a seguinte tabela de alturas de diferentes especies:

In [10]:
import pandas as pd
df = pd.DataFrame()
df['heights'] = [11.52, 12.48, 12.3778, 12.730]
df['species'] = ['A', 'B', 'C', 'D']
df

   heights species
0  11.5200       A
1  12.4800       B
2  12.3778       C
3  12.7300       D

Arrendodar cada valor da coluna alturas (heights) a uma casa decimal

**RESOLUÇÃO**

In [11]:
df['heights'] = df['heights'].apply(lambda x: round(x, 1))
df

   heights species
0     11.5       A
1     12.5       B
2     12.4       C
3     12.7       D

Referência:
https://www.youtube.com/watch?v=hZqg9RH5GWk

# EXERCÍCIO - 05
Temos a seguinte lista:

In [13]:
lista = [
    "ALUNO_30",
    "ALUNO_01",
    "ALUNO_101",
    "ALUNO_20",
    "ALUNO_10",
    "ALUNO_100"
]
lista

['ALUNO_30', 'ALUNO_01', 'ALUNO_101', 'ALUNO_20', 'ALUNO_10', 'ALUNO_100']

Ordenar a lista baseado no número de forma ascendente

**RESOLUÇÃO**

In [24]:
alunos.sort(key=lambda x: int(x[6:]))
alunos

['ALUNO_01', 'ALUNO_10', 'ALUNO_20', 'ALUNO_30', 'ALUNO_100', 'ALUNO_101']

# EXERCÍCIO - 06
Converter os nomes da seguinte lista a minusculo

In [25]:
names = ['fabio', 'Josi']
names

['fabio', 'Josi']

**RESOLUÇÃO**

In [26]:
namesUpper = list(map(lambda x: x.upper(), names))
namesUpper

['FABIO', 'JOSI']

# EXERCÍCIO - 07
Na seguinte lista, converter os nomes que contém a letra 'a' a minusculo

In [27]:
names = ['fabio', 'Josi']
names

['fabio', 'Josi']

**RESOLUÇÃO**

In [28]:
list(filter(lambda x: 'a' in x, names))

['fabio']

Referência
https://www.youtube.com/watch?v=zH_0jUmgpyc&t=146s