# Contexto/Desafio

- Empresa vende Bermudas;
- 5 lojas;
- dados: vedas.xlsx.

A empresa deseja saber: Como posso aumentar as vendas? o que devo fazer?

## O que posso fazer para aumentar as vendas?

In [1]:
# importa as dependencias
import pandas as pd

In [2]:
# carrega os dados
vendas = pd.read_excel('Vendas.xlsx')
vendas.head(3)

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,2019-12-01,Iguatemi Campinas,Bermuda Estampa,1,169,169
1,2019-12-01,Iguatemi Esplanada,Bermuda Xadrez,1,155,155
2,2019-12-01,Norte Shopping,Bermuda,2,150,300

In [6]:
# verifica consistência
vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Data            57 non-null     datetime64[ns]
 1   ID Loja         57 non-null     object
 2   Produto         57 non-null     object
 3   Quantidade      57 non-null     int64
 4   Valor Unitário  57 non-null     int64
 5   Valor Final     57 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 2.8+ KB

In [17]:
# retorna os nomes das lojas
print(vendas['ID Loja'].unique())
# retorna o número de lojas
print(vendas['ID Loja'].unique().size)

['Iguatemi Campinas' 'Iguatemi Esplanada' 'Norte Shopping'
 'Bourbon Shopping SP' 'Center Shopping Uberlândia']
5

In [34]:
# retorna nomes dos produtos
print(vendas['Produto'].unique())
# retorna o número de produtos
print(vendas['Produto'].unique().size)

['Bermuda Estampa' 'Bermuda Xadrez' 'Bermuda' 'Bermuda Listrado'
 'Bermuda Linho' 'Bermuda Liso']
6

### Faturamento total da empresa

In [20]:
# acessa a coluna e soma
fatTotal = vendas['Valor Final'].sum()
fatTotal

55895

A empresa faturou quase 56 mil reais no mês de dezembro do 2019.

### Faturamento por loja

In [29]:
# cria subtabela
fatLoja = vendas[['ID Loja', 'Valor Final']]
# agrupa por loja e soma
fatLoja.groupby(by='ID Loja').sum()

                            Valor Final
ID Loja
Bourbon Shopping SP                4386
Center Shopping Uberlândia         2994
Iguatemi Campinas                 41720
Iguatemi Esplanada                 2473
Norte Shopping                     4322

Na loja "Iguatemi Campinas" tem-se um faturamento total muito superior do que as outras lojas. Isto sugere, examinar essa loja para descobrer o que essa loja tem de diferencial para ter um faturamento tão superior e assim replicar nas outra lojas para aumentar as vendas e consequentemente o faturamento da empresa como um todo.

### Faturamento por loja e produto

In [33]:
# cria subtabela
fatLojaProd = vendas[['ID Loja', 'Produto', 'Valor Final']]
# agrupa e soma por loja e produto
fatLojaProd.groupby(by=['ID Loja', 'Produto']).sum()

                                             Valor Final
ID Loja                    Produto
Bourbon Shopping SP        Bermuda                   750
                           Bermuda Estampa          1183
                           Bermuda Linho             195
                           Bermuda Listrado         1793
                           Bermuda Xadrez            465
Center Shopping Uberlândia Bermuda Estampa           338
                           Bermuda Linho             780
                           Bermuda Listrado          326
                           Bermuda Xadrez           1550
Iguatemi Campinas          Bermuda                  1200
                           Bermuda Estampa           845
                           Bermuda Linho            1170
                           Bermuda Liso            36581
                           Bermuda Listrado         1304
                           Bermuda Xadrez            620
Iguatemi Esplanada         Bermuda                   150
                           Bermuda Estampa           338
                           Bermuda Linho            1365
                           Bermuda Xadrez            620
Norte Shopping             Bermuda                  1350
                           Bermuda Estampa           845
                           Bermuda Linho             390
                           Bermuda Listrado          652
                           Bermuda Xadrez           1085

- Na loja "Iguatemi Campinas" o produto "Bermuda Liso" (talvez produto novo) teve um faturamento de mais de 36 mil reais (a qual é superior quando comparado ao faturamento dos outros produtos em outras lojas;
- Dito produto não está presente nas outras lojas.

### Recomendações

- Testar o produto "Bermuda Liso" nas outras lojas