## 5- Lista de todos os gêneros de filmes

In [1]:
# importamos a biblioteca pandas
import pandas as pd

In [2]:
# carregamos dados do Netflix e Amazon
netflix = pd.read_csv('netflix_titles.csv')
amazon_prime = pd.read_csv('amazon_prime_titles.csv')
# concatenamos os dados
all_data = pd.concat([netflix, amazon_prime], ignore_index=True)
# filtramos apenas por filmes
all_data = all_data[all_data['type']=='Movie']
# resetamos os indices
all_data.reset_index(inplace=True, drop=True)
all_data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...

In [6]:
# acessamos à coluna LISTED_IN e filtramos os valores vazios (NAN)
listed_in = all_data['listed_in'][all_data['listed_in'].notnull()]
# resetamos os indices
listed_in.reset_index(inplace=True, drop=True)
listed_in.head(4)

0                                       Documentaries
1                            Children & Family Movies
2    Dramas, Independent Movies, International Movies
3                                    Comedies, Dramas
Name: listed_in, dtype: object

In [8]:
# transformamos a coluna LISTED_IN numa matriz (DataFrame) cujos valores são os generos
listed_in_df = listed_in.str.split(',', expand=True)
listed_in_df.head(2)

                          0     1     2     3     4
0             Documentaries  None  None  None  None
1  Children & Family Movies  None  None  None  None

In [12]:
# OBJETIVO: criar uma única coluna contendo os nomes dos generos

# capturamos a primiera coluna
col = listed_in_df[0]

# percorremos cada coluna da matriz
for i in range(1, 5):
    # concatenamos una vez só a primeira coluna com a segunda
    if i == 1:
        result = pd.concat([col, listed_in_df[i]], ignore_index=True)
    # concatenamos a coluna resultante com as restantes e sobre-escrevemos nela mesma  
    else:
        result = pd.concat([result, listed_in_df[i]], ignore_index=True)

# filtramos valores vazios (None)
cond = result.notnull()
result = result[cond]
# removemos espaços em branco
result = result.str.strip()
# Obtemos os valores únicos
result.unique()

array(['Documentaries', 'Children & Family Movies', 'Dramas', 'Comedies',
       'Thrillers', 'Horror Movies', 'Action & Adventure',
       'International Movies', 'Sci-Fi & Fantasy', 'Classic Movies',
       'Stand-Up Comedy', 'Movies', 'Anime Features', 'Cult Movies',
       'Independent Movies', 'Music & Musicals', 'Romantic Movies',
       'LGBTQ Movies', 'Sports Movies', 'Comedy', 'Drama', 'Action',
       'Documentary', 'Fantasy', 'Adventure', 'Horror', 'Science Fiction',
       'Arts', 'Music Videos and Concerts', 'Fitness',
       'Faith and Spirituality', 'Special Interest', 'Suspense', 'Kids',
       'Western', 'Animation', 'Arthouse', 'Military and War', 'Anime',
       'International', 'Sports', 'Romance', 'Young Adult Audience',
       'LGBTQ', 'Historical', 'Faith & Spirituality', 'Entertainment',
       'Talk Show and Variety', 'Unscripted', 'and Culture'], dtype=object)