# Problema de Negócio

Tem-se o cojunto de dados (Base_vendas.xlsx) de uma loja que vende produtos. Arrendondar a coluna "Pr_Unit" a duas casas decimais.

# Análise Exploratória de Dados

In [1]:
# importa as dependecias
import pandas as pd

In [10]:
# carrega os dados
fVendas = pd.read_excel('Base_vendas.xlsx', sheet_name=0)
fVendas.head(3)

,Dt_Venda,Cod_prod,Cod_Cliente,Pr_custo,Pr_Unit,Qtde,Situacao,Cod_Canal_vendas,Cod_Vend
0,2017-01-06,2,8,1.09858,1.1564,63,N,2,8.0
1,2017-01-06,5,7,3.02596,4.3228,21,N,1,7.0
2,2017-01-06,6,2,2.79300,2.9400,93,N,2,2.0

In [3]:
# verifica a consistência dos dados
fVendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14416 entries, 0 to 14415
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Dt_Venda          14416 non-null  datetime64[ns]
 1   Cod_prod          14416 non-null  int64
 2   Cod_Cliente       14416 non-null  int64
 3   Pr_custo          14416 non-null  float64
 4   Pr_Unit           14416 non-null  float64
 5   Qtde              14416 non-null  int64
 6   Situacao          14416 non-null  object
 7   Cod_Canal_vendas  14416 non-null  int64
 8   Cod_Vend          12954 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(1)
memory usage: 1013.8+ KB

# Limpeza de Dados

In [11]:
# apaga o registro com pelo menos um valor em branco
fVendas.dropna(how='any', axis=0, inplace=True)

In [12]:
# transforma o tipo de dado para inteiro
fVendas['Cod_Vend'] = fVendas['Cod_Vend'].astype('int64')

In [8]:
# arendonda a duas casas decimais
fVendas[['Pr_custo', 'Pr_Unit']] = fVendas[['Pr_custo', 'Pr_Unit']].apply(func=lambda x: round(x, 2), axis=0)
fVendas.head(3)

,Dt_Venda,Cod_prod,Cod_Cliente,Pr_custo,Pr_Unit,Qtde,Situacao,Cod_Canal_vendas,Cod_Vend
0,2017-01-06,2,8,1.10,1.16,63,N,2,8
1,2017-01-06,5,7,3.03,4.32,21,N,1,7
2,2017-01-06,6,2,2.79,2.94,93,N,2,2